
- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [19]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from sklearn.model_selection import train_test_split
from pprint import pprint
from functions_variables import encode_tags

In [20]:
'''
path = '../data/raw_json_files/AK_Juneau_0.json'
with open(path, 'r') as file:
    file1 = json.load(file)
pprint(file1)
'''
# This code is not needed
# load one file first to see what type of data you're dealing with and what attributes it has

"\npath = '../data/raw_json_files/AK_Juneau_0.json'\nwith open(path, 'r') as file:\n    file1 = json.load(file)\npprint(file1)\n"

At this point, ensure that you have all sales in a dataframe.
- Is each cell one value, or do some cells have lists?
- Maybe the "tags" will help create some features.
- What are the data types of each column?
- Some sales may not actually include the sale price.  These rows should be dropped.
- Some sales don't include the property type.
- There are a lot of None values.  Should these be dropped or replaced with something?

In [21]:
# Combine all json files

import glob

json_directory = '../data/raw_json_files'

json_file_paths = glob.glob(os.path.join(json_directory, '*.json'))
data = pd.DataFrame()

for path in json_file_paths:
    with open(path, 'r') as file:
        jsonfile = json.load(file)
    newdata = pd.json_normalize(jsonfile['data']['results'])
    data = pd.concat([newdata, data])

/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2948743466.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([newdata, data])

In [22]:
data.columns

Index(['last_update_date', 'tags', 'permalink', 'status', 'list_date',
       'open_houses', 'branding', 'list_price', 'property_id', 'photos',
       'community', 'virtual_tours', 'listing_id', 'price_reduced_amount',
       'matterport', 'primary_photo.href', 'source.plan_id', 'source.agents',
       'source.spec_id', 'source.type', 'description.year_built',
       'description.baths_3qtr', 'description.sold_date',
       'description.sold_price', 'description.baths_full', 'description.name',
       'description.baths_half', 'description.lot_sqft', 'description.sqft',
       'description.baths', 'description.sub_type', 'description.baths_1qtr',
       'description.garage', 'description.stories', 'description.beds',
       'description.type', 'lead_attributes.show_contact_an_agent',
       'flags.is_new_construction', 'flags.is_for_rent',
       'flags.is_subdivision', 'flags.is_contingent', 'flags.is_price_reduced',
       'flags.is_pending', 'flags.is_foreclosure', 'flags.is_plan',
       'flags.is_coming_soon', 'flags.is_new_listing', 'products.brand_name',
       'other_listings.rdc', 'location.address.postal_code',
       'location.address.state', 'location.address.coordinate.lon',
       'location.address.coordinate.lat', 'location.address.city',
       'location.address.state_code', 'location.address.line',
       'location.street_view_url', 'location.county.fips_code',
       'location.county.name', 'primary_photo', 'source', 'products',
       'other_listings', 'location.address.coordinate', 'location.county',
       'community.advertisers', 'community.description.name'],
      dtype='object')

In [23]:
# load and concatenate data here
# drop or replace values as necessary

In [24]:
def selectcolumns(new_column_names, selected_columns, data): # adds selected columns into new dataframe
    dataframe = pd.DataFrame()
    for i in range(len(selected_columns)):
        dataframe[f'{new_column_names[i]}'] = data[f'{selected_columns[i]}']
    return dataframe

selected_columns = ['description.year_built', 'description.sqft', 'description.baths', 'description.stories',
                    'description.beds', 'description.garage', 'description.type', 'flags.is_foreclosure',
                    'location.address.city', 'tags', 'description.sold_price']

new_column_names = ['year_built', 'sqft', 'baths', 'stories', 'beds', 'garage', 'type', 'is_foreclosure',
                    'city', 'tags', 'price']

dataframe = selectcolumns(new_column_names, selected_columns, data)

In [25]:
dataframe

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price
0,1993.0,1926.0,2.0,1.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, community_golf, community_spa_or...",269000
1,2004.0,2298.0,3.0,2.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",315000
2,2003.0,2376.0,2.0,2.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, community_security_features, din...",385000
3,1986.0,936.0,2.0,2.0,2.0,1.0,condos,None,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",161500
4,2003.0,3240.0,3.0,2.0,4.0,2.0,single_family,None,Indianapolis,"[city_view, community_park, community_spa_or_h...",310000
...,...,...,...,...,...,...,...,...,...,...,...
37,1988.0,1488.0,3.0,2.0,3.0,2.0,single_family,None,Harrisburg,"[central_air, disability_features, forced_air,...",229995
38,1989.0,4733.0,4.0,4.0,4.0,2.0,single_family,None,Harrisburg,"[central_air, dining_room, disability_features...",703125
39,1995.0,2341.0,3.0,2.0,3.0,2.0,single_family,None,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",465000
40,1900.0,2601.0,3.0,3.0,3.0,NaN,townhomes,None,Harrisburg,"[central_air, forced_air, view, water_view, ba...",230000
41,1923.0,1440.0,1.0,2.0,3.0,NaN,townhomes,None,Harrisburg,"[disability_features, dishwasher, washer_dryer...",122500

In [26]:
dataframe.to_csv('../data/raw_merged_df_data.csv')

In [27]:
dataframe.isnull().sum()

year_built         875
sqft               868
baths              211
stories           1931
beds               687
garage            3743
type                66
is_foreclosure    8149
city                37
tags               553
price             1475
dtype: int64

In [28]:
dataframe.describe()

,year_built,sqft,baths,stories,beds,garage
count,7316.000000,7323.000000,7980.000000,6260.000000,7504.000000,4448.000000
mean,1968.916074,1933.848559,2.131203,1.567732,3.208289,1.926709
std,35.096914,1339.039206,1.175940,0.730969,1.282732,0.878766
min,1828.000000,120.000000,0.000000,1.000000,0.000000,1.000000
25%,1950.000000,1258.000000,1.000000,1.000000,3.000000,1.000000
50%,1975.000000,1635.000000,2.000000,1.000000,3.000000,2.000000
75%,1997.000000,2264.000000,3.000000,2.000000,4.000000,2.000000
max,2024.000000,32106.000000,9.000000,10.000000,12.000000,11.000000

In [29]:
# removing nulls

dataframe = dataframe[(dataframe['price'] > 0) &
                      (dataframe['sqft'] > 0) &
                      (dataframe['year_built'] > 0) &
                      (dataframe['baths'] > 0) &
                      (dataframe['stories'] > 0) &
                      (dataframe['beds'] > 0) &
                      (dataframe['price'] > 0)]

In [30]:
dataframe

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price
0,1993.0,1926.0,2.0,1.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, community_golf, community_spa_or...",269000
1,2004.0,2298.0,3.0,2.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",315000
2,2003.0,2376.0,2.0,2.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, community_security_features, din...",385000
3,1986.0,936.0,2.0,2.0,2.0,1.0,condos,None,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",161500
4,2003.0,3240.0,3.0,2.0,4.0,2.0,single_family,None,Indianapolis,"[city_view, community_park, community_spa_or_h...",310000
...,...,...,...,...,...,...,...,...,...,...,...
37,1988.0,1488.0,3.0,2.0,3.0,2.0,single_family,None,Harrisburg,"[central_air, disability_features, forced_air,...",229995
38,1989.0,4733.0,4.0,4.0,4.0,2.0,single_family,None,Harrisburg,"[central_air, dining_room, disability_features...",703125
39,1995.0,2341.0,3.0,2.0,3.0,2.0,single_family,None,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",465000
40,1900.0,2601.0,3.0,3.0,3.0,NaN,townhomes,None,Harrisburg,"[central_air, forced_air, view, water_view, ba...",230000
41,1923.0,1440.0,1.0,2.0,3.0,NaN,townhomes,None,Harrisburg,"[disability_features, dishwasher, washer_dryer...",122500

In [31]:
dataframe.isnull().sum()

year_built           0
sqft                 0
baths                0
stories              0
beds                 0
garage            1961
type                 0
is_foreclosure    4888
city                 5
tags                65
price                0
dtype: int64

In [32]:
dataframe['type'].value_counts()

type
single_family    3637
condos            563
townhomes         464
multi_family      146
mobile             68
apartment          20
condo              10
Name: count, dtype: int64

In [33]:
dataframe['stories'].value_counts()

stories
1.0     2500
2.0     1995
3.0      365
4.0       25
6.0       16
10.0       6
8.0        1
Name: count, dtype: int64

In [34]:
# changing all nulls to 0

dataframe['garage'].fillna(0, inplace=True)

/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/407070125.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['garage'].fillna(0, inplace=True)
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/407070125.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['garage'].fillna(0, inplace=True)

In [35]:
# changing all nulls to False

dataframe['is_foreclosure'].fillna('False', inplace=True)

/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/516668076.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['is_foreclosure'].fillna('False', inplace=True)
/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/516668076.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['is_foreclosure'].fillna('False', inplace=True)

In [36]:
dataframe.isnull().sum()

year_built         0
sqft               0
baths              0
stories            0
beds               0
garage             0
type               0
is_foreclosure     0
city               5
tags              65
price              0
dtype: int64

In [37]:
# dropping last few nulls

dataframe.dropna(inplace=True)

/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/307274391.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(inplace=True)

In [38]:
dataframe.isnull().sum()

year_built        0
sqft              0
baths             0
stories           0
beds              0
garage            0
type              0
is_foreclosure    0
city              0
tags              0
price             0
dtype: int64

In [39]:
# Final removed Nulls Dataframe

dataframe

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price
0,1993.0,1926.0,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_golf, community_spa_or...",269000
1,2004.0,2298.0,3.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",315000
2,2003.0,2376.0,2.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_security_features, din...",385000
3,1986.0,936.0,2.0,2.0,2.0,1.0,condos,False,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",161500
4,2003.0,3240.0,3.0,2.0,4.0,2.0,single_family,False,Indianapolis,"[city_view, community_park, community_spa_or_h...",310000
...,...,...,...,...,...,...,...,...,...,...,...
37,1988.0,1488.0,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, disability_features, forced_air,...",229995
38,1989.0,4733.0,4.0,4.0,4.0,2.0,single_family,False,Harrisburg,"[central_air, dining_room, disability_features...",703125
39,1995.0,2341.0,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",465000
40,1900.0,2601.0,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,"[central_air, forced_air, view, water_view, ba...",230000
41,1923.0,1440.0,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,"[disability_features, dishwasher, washer_dryer...",122500

In [40]:
dataframe.describe()

,year_built,sqft,baths,stories,beds,garage
count,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000
mean,1970.668458,1874.154196,2.326995,1.604795,3.170112,1.154609
std,34.089147,992.776225,1.021649,0.764951,1.078383,1.117118
min,1828.000000,416.000000,1.000000,1.000000,1.000000,0.000000
25%,1951.000000,1256.000000,2.000000,1.000000,3.000000,0.000000
50%,1975.000000,1634.000000,2.000000,1.000000,3.000000,1.000000
75%,1999.000000,2215.000000,3.000000,2.000000,4.000000,2.000000
max,2023.000000,11218.000000,9.000000,10.000000,12.000000,9.000000

In [41]:
# Changing year_built into decades

bins = list(range(1820, 2031, 10))
labels = [i for i in bins[:-1]]

dataframe['year_built'] = pd.cut(dataframe['year_built'], bins=bins, labels=labels)

/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/2127883232.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['year_built'] = pd.cut(dataframe['year_built'], bins=bins, labels=labels)

In [42]:
# changing price into ranges

bins = list(range(0, 13000000, 200000))
labels = [i for i in bins[:-1]]

dataframe['price'] = pd.cut(dataframe['price'], bins=bins, labels=labels)

/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/1585690354.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['price'] = pd.cut(dataframe['price'], bins=bins, labels=labels)

In [43]:
# changing sqft into ranges

bins = list(range(0, 13000, 500))
labels = [i for i in bins[:-1]]

dataframe['sqft'] = pd.cut(dataframe['sqft'], bins=bins, labels=labels)

/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/1589956992.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['sqft'] = pd.cut(dataframe['sqft'], bins=bins, labels=labels)

In [44]:
# After changing Year_built, Sqft, Price Changes

dataframe

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price
0,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_golf, community_spa_or...",200000
1,2000,2000,3.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",200000
2,2000,2000,2.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_security_features, din...",200000
3,1980,500,2.0,2.0,2.0,1.0,condos,False,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",0
4,2000,3000,3.0,2.0,4.0,2.0,single_family,False,Indianapolis,"[city_view, community_park, community_spa_or_h...",200000
...,...,...,...,...,...,...,...,...,...,...,...
37,1980,1000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, disability_features, forced_air,...",200000
38,1980,4500,4.0,4.0,4.0,2.0,single_family,False,Harrisburg,"[central_air, dining_room, disability_features...",600000
39,1990,2000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",400000
40,1890,2500,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,"[central_air, forced_air, view, water_view, ba...",200000
41,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,"[disability_features, dishwasher, washer_dryer...",0

In [45]:
dataframe['house_id'] = range(1, len(dataframe) + 1)
dataframe

/var/folders/m2/l617y1qd3w54klyxl13frw5h0000gn/T/ipykernel_20811/1957421503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['house_id'] = range(1, len(dataframe) + 1)

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price,house_id
0,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_golf, community_spa_or...",200000,1
1,2000,2000,3.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",200000,2
2,2000,2000,2.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_security_features, din...",200000,3
3,1980,500,2.0,2.0,2.0,1.0,condos,False,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",0,4
4,2000,3000,3.0,2.0,4.0,2.0,single_family,False,Indianapolis,"[city_view, community_park, community_spa_or_h...",200000,5
...,...,...,...,...,...,...,...,...,...,...,...,...
37,1980,1000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, disability_features, forced_air,...",200000,4834
38,1980,4500,4.0,4.0,4.0,2.0,single_family,False,Harrisburg,"[central_air, dining_room, disability_features...",600000,4835
39,1990,2000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",400000,4836
40,1890,2500,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,"[central_air, forced_air, view, water_view, ba...",200000,4837
41,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,"[disability_features, dishwasher, washer_dryer...",0,4838

In [46]:
# Extract tags into a separate DataFrame
tags_expanded = dataframe[['house_id', 'tags']].explode('tags')
#rename column
tags_expanded.rename(columns={'tags': 'tag'}, inplace=True)
#merge expanded tags dataframe back with the original dataframe

top_tags_name = tags_expanded['tag'].value_counts().head(20).index.to_list()

def remove_non_top_tags(row, top_tags_name):
    for i in top_tags_name:
        if i == row['tag']:
            return row

tags = tags_expanded.apply(remove_non_top_tags, args=(top_tags_name,), axis=1).dropna()
houseinfo_df = pd.merge(dataframe.drop(columns=['tags']), tags, on='house_id')
#adding some code here

In [47]:
houseinfo_df

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,price,house_id,tag
0,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,central_air
1,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,dining_room
2,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,fireplace
3,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,forced_air
4,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,recreation_facilities
...,...,...,...,...,...,...,...,...,...,...,...,...
37604,1890,2500,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,200000,4837,two_or_more_stories
37605,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,0,4838,dishwasher
37606,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,0,4838,washer_dryer
37607,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,0,4838,basement
37608,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,0,4838,two_or_more_stories

In [48]:
#checking for nulls
houseinfo_df.isnull().sum()

year_built        0
sqft              0
baths             0
stories           0
beds              0
garage            0
type              0
is_foreclosure    0
city              0
price             0
house_id          0
tag               0
dtype: int64

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [49]:
# OHE categorical variables here
# One-hot encode categorical columns: 'type', 'city', and 'tag'
# tags will have to be done manually changes

In [50]:
# One-hot encode the 'tag' column
one_hot_encoded_tags = pd.get_dummies(houseinfo_df['tag'])
#join OHE df with house id df
one_hot_encoded_df = pd.concat([houseinfo_df[['house_id']], one_hot_encoded_tags], axis=1)

# Group by house_id and sum the one-hot encoded columns
one_hot_encoded_df = one_hot_encoded_df.groupby('house_id').sum().reset_index() # -> to ensure we have everything aligned properly

# Merge the one-hot encoded tags back with the original DataFrame
# Drop the original 'tag' column and duplicates before merging
df_no_tags = houseinfo_df.drop(columns=['tag']).drop_duplicates(subset='house_id')
df_final = pd.merge(df_no_tags, one_hot_encoded_df, on='house_id')
df_final

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,price,...,garage_1_or_more,garage_2_or_more,hardwood_floors,laundry_room,recreation_facilities,shopping,single_story,two_or_more_stories,view,washer_dryer
0,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,...,1,1,0,0,1,0,1,0,1,0
1,2000,2000,3.0,2.0,3.0,2.0,single_family,False,Indianapolis,200000,...,1,1,0,0,0,0,0,1,0,0
2,2000,2000,2.0,2.0,3.0,2.0,single_family,False,Indianapolis,200000,...,1,1,1,0,0,0,0,1,1,0
3,1980,500,2.0,2.0,2.0,1.0,condos,False,Indianapolis,0,...,1,0,0,0,1,1,0,1,1,0
4,2000,3000,3.0,2.0,4.0,2.0,single_family,False,Indianapolis,200000,...,1,1,0,0,1,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833,1980,1000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,200000,...,1,1,0,0,0,0,0,1,0,0
4834,1980,4500,4.0,4.0,4.0,2.0,single_family,False,Harrisburg,600000,...,1,1,1,0,0,0,0,1,0,0
4835,1990,2000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,400000,...,1,1,0,0,0,0,0,1,0,1
4836,1890,2500,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,200000,...,0,0,0,0,0,0,0,1,1,0
4837,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,0,...,0,0,0,0,0,0,0,1,0,1

In [56]:
#test and validate merge and OHE
houseinfo_df[houseinfo_df['house_id'] == 1]

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,price,house_id,tag
0,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,central_air
1,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,dining_room
2,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,fireplace
3,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,forced_air
4,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,recreation_facilities
5,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,view
6,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,single_story
7,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,garage_1_or_more
8,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,1,garage_2_or_more

In [59]:
df_final.drop(columns='house_id', inplace=True)
df_final.iloc[0]

year_built                              1990
sqft                                    1500
baths                                    2.0
stories                                  1.0
beds                                     3.0
garage                                   2.0
type                           single_family
is_foreclosure                         False
city                            Indianapolis
price                                 200000
basement                                   0
central_air                                1
central_heat                               0
city_view                                  0
community_outdoor_space                    0
community_security_features                0
dining_room                                1
dishwasher                                 0
fireplace                                  1
forced_air                                 1
garage_1_or_more                           1
garage_2_or_more                           1
hardwood_floors                            0
laundry_room                               0
recreation_facilities                      1
shopping                                   0
single_story                               1
two_or_more_stories                        0
view                                       1
washer_dryer                               0
Name: 0, dtype: object

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE such as using central tendency?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- If you replace cities or states with numerical values, make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Drop columns that aren't needed.
- Don't keep the list price because it will be too close to the sale price.

In [60]:
# perform train test split here

#Define the features X and Y
X = df_final.drop(columns=['price'])
Y = df_final['price']

# Split 80/20
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

#Print
print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"Y_train shape: {Y_train.shape}")
print(f"Y_test shape: {Y_test.shape}")


# do something with state and city
# drop any other not needed columns

X_train shape: (3870, 29)
X_test shape: (968, 29)
Y_train shape: (3870,)
Y_test shape: (968,)

**STRETCH**

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [54]:
# import, join and preprocess new data here

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [61]:
# perform EDA here

df_final.describe()

,baths,stories,beds,garage,basement,central_air,central_heat,city_view,community_outdoor_space,community_security_features,...,garage_1_or_more,garage_2_or_more,hardwood_floors,laundry_room,recreation_facilities,shopping,single_story,two_or_more_stories,view,washer_dryer
count,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,...,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000,4838.000000
mean,2.326995,1.604795,3.170112,1.154609,0.446259,0.619057,0.199669,0.177759,0.513849,0.253617,...,0.656470,0.446052,0.365647,0.282141,0.264986,0.287929,0.505374,0.494626,0.223646,0.314593
std,1.021649,0.764951,1.078383,1.117118,0.497155,0.485669,0.399793,0.382350,0.499860,0.435126,...,0.474936,0.497132,0.481661,0.450088,0.441371,0.452845,0.500023,0.500023,0.416731,0.464401
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,3.000000,2.000000,4.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,9.000000,10.000000,12.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [63]:
df_final.shape

(4838, 30)

In [64]:
df_final

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,price,...,garage_1_or_more,garage_2_or_more,hardwood_floors,laundry_room,recreation_facilities,shopping,single_story,two_or_more_stories,view,washer_dryer
0,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,200000,...,1,1,0,0,1,0,1,0,1,0
1,2000,2000,3.0,2.0,3.0,2.0,single_family,False,Indianapolis,200000,...,1,1,0,0,0,0,0,1,0,0
2,2000,2000,2.0,2.0,3.0,2.0,single_family,False,Indianapolis,200000,...,1,1,1,0,0,0,0,1,1,0
3,1980,500,2.0,2.0,2.0,1.0,condos,False,Indianapolis,0,...,1,0,0,0,1,1,0,1,1,0
4,2000,3000,3.0,2.0,4.0,2.0,single_family,False,Indianapolis,200000,...,1,1,0,0,1,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833,1980,1000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,200000,...,1,1,0,0,0,0,0,1,0,0
4834,1980,4500,4.0,4.0,4.0,2.0,single_family,False,Harrisburg,600000,...,1,1,1,0,0,0,0,1,0,0
4835,1990,2000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,400000,...,1,1,0,0,0,0,0,1,0,1
4836,1890,2500,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,200000,...,0,0,0,0,0,0,0,1,1,0
4837,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,0,...,0,0,0,0,0,0,0,1,0,1

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized